<div class="header">
  <div class="logo-card exito">
    <img src="<%= exitoLogoPath %>" alt="Êxito Contabilidade" />
  </div>
  <div class="header-title">
    <h1>Controle folha de pagamento</h1>
  </div>
  <div class="logo-card dauto">
    <img src="<%= logoPath %>" alt="Dauto Tintas" />
  </div>
</div>
