<div class="header">
  <div class="logo-card exito">
    <img src="<%= exitoLogoPath %>" alt="Êxito Contabilidade" />
  </div>
  <div class="header-title">
    <h1 class="header-title__heading">
      <span class="header-title__line" aria-hidden="true"></span>
      <span class="header-title__text">Controle folha de pagamento</span>
      <span class="header-title__line" aria-hidden="true"></span>
    </h1>
  </div>
  <div class="logo-card dauto">
    <img src="<%= logoPath %>" alt="Dauto Tintas" />
  </div>
</div>
